/* main css */
header, section, footer, aside, nav, main, article, figure
{
    display: block; 
}

*
{
	font-family:Arial, Helvetica, sans-serif
	font-size:100%
}

body
{
	background-color:#FFFFFF;
}

.header
{
	text-align:center;
}