/* main css */
header, section, footer, aside, nav, main, article, figure
{
    display: block; 
}

*
{
	font-family:'微软雅黑', '黑体', 'sans-serif';
	font-size:100%
}

.navbar
{
	-moz-user-select: none; /*火狐*/
	-webkit-user-select: none; /*webkit浏览器*/
	-ms-user-select: none; /*IE10*/
	-khtml-user-select: none; /*早期浏览器*/
	user-select: none;
}

.navbar a
{
	cursor: pointer;
}